.success, .error {
  color: white;
  padding: 0.5rem;
  margin: 0.5rem 0 1rem;
}

.success {
  background-color: greenyellow;
}

.error {
  background-color: red;
}

button {
  background-color: lightgrey;
}